doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href="css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href="css/styles.css")
    script(type='text/javascript', src='js/vendor/require.js')
    script(type='text/javascript')
      require.config({
        baseUrl: "js/modules",
        paths: {
          'jquery': 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min',
          'knockout': '../vendor/knockout',
          'moment': '../vendor/moment',
          'ui': '../vendor/jquery-ui-1.9.2.custom.min'
        },
        shim: {
          'ui': ['jquery']
        }
      });
    title HTML5 Template Project
  body
    #main
      .title(data-bind='css: {hidden: !titleVisible() }, text: title()')
      video#video(width='0', height='0', data-bind='event: {mouseover: showTitle}, click: function() { toggleState() }')
      #controls
        nav
          .btn(data-bind='click: function() { toggleState() }')
            i(data-bind='css: { "icon-play": !playing(), "icon-pause": playing() }')
          .btn(data-bind='click: function() { next() }')
            i.icon-refresh
        .control-progress
          .progress(data-bind='click: setTime')
            .bar(data-bind='style: { width: progress() + "%" }')
          .progress-info
            span(data-bind='text: currentTime()')
            span(data-bind='text: duration()')
        nav
          .control-volume(data-bind='visible: volumeVisible()')
            .volume-slider
            input#volume(type='hidden', data-bind='value: volume')
          .btn(data-bind='click: toggleVolume')
            i.icon-volume-down
      script(type='text/javascript')
        require(['app'], function(app){ app.main() })


